.receta{
    background: #ffffff;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    margin-left: 5rem;
    width: calc(31% - 5rem);
    border-radius: 2px;
    border: 1px solid #c4c4c4;
}
@media only screen and (max-width: 600px){
    .receta{
        width: calc(100% - 2rem);
        margin: 0;
        flex-direction: row;
    }
    .receta img{
        width: 50%;
    }
}