.pie-de-pagina{
    background: #bfbfbf;
    color: #fdfdfd;
    text-align: left;
    padding: 1.224rem 5rem;
    text-transform: lowercase;
    font-family: Roboto;
    font-weight: 900;
    font-size: 1.65rem;
}